<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../vendor/semantic/ui/dist/semantic.css">
</head>
<body class="ui container">

<div class="ui menu">
    <a class="item">Browse</a>
    <a class="item">Submit</a>
    <div class="right menu">
        <a class="item">Sign Up</a>
        <a class="item">Help</a>
    </div>
</div>

<div class="ui segment">
    <p></p>
</div>


<table class="ui green compact table">
    <thead>
    <tr>
        <th>Comida</th>
        <th>Calorias</th>
        <th>Proteína</th>
        <th>Proteína</th>
        <th>Proteína</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Maçãs</td>
        <td>200</td>
        <td>0 g</td>
        <td>200</td>
        <td>0 g</td>
    </tr>
    <tr>
        <td>Maçãs</td>
        <td>200</td>
        <td>0 g</td>
        <td>200</td>
        <td>0 g</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="5">
            <div class="ui right floated pagination menu">
                <a class="icon item">
                    <i class="left chevron icon"></i>
                </a>
                <a class="icon item">
                    <i class="right chevron icon"></i>
                </a>
            </div>
        </th>
    </tr>
    </tfoot>
</table>


<div class="ui segment" id="teste">
    <p></p>
</div>


</body>
</html>